mixin navItem(item,id)
    li.nav-item: a.nav-link(href=id)= item

mixin article(title)
    article.about-card
        span.about-card__icon
        h3.about-card__title= title
        p.about-card__description Cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu

mixin guitar(model, img, alt)
    article.guitar
        .guitar__img
            img(src=img alt=alt)
        h3.guitar__model= model
        ul.guitar__specs
            li Sagittis purus sit amet volutpat
            li Vel pretium lectus quam id
            li Commodo ullamcorper a lacus vestibulum
            li Elementum pulvinar etiam non quam

mixin artist(name, img)
    figure.artist
        img.artist__photo(src=img alt=name)
        p.artist__name= name


// ----------------------------------------------------------------------------

doctype html
html
    head
        title Product Landing
        link(rel="icon" href="./css/assets/guitar.svg" type="image/icon type")
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./css/mobile.css")
        link(rel="stylesheet" href="./css/desktop.css" media="screen and (min-width:800px)")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href!="https://fonts.googleapis.com/css2?family=Engagement&family=Nunito:wght@200;400;700;900&display=swap" rel="stylesheet")
    body
        header.header#header
            .header-bar
                .header-logo
                    img.header-logo--img#header-img(src="./css/assets/guitar.svg" alt="logo")
                    p.header-logo--text Super Guitars
                .menu-btn#menuBtn
            nav.header-nav#nav-bar
                ul.nav
                    +navItem("Why us?", "#whyUs")
                    +navItem("Our products", "#products")
                    +navItem("Our artists", "#artists")
        main.main#main
            h1.main__title Guitars for life
            p.main__intro Hendrerit dolor magna eget est lorem ipsum dolor sit amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            form.contact#form(action="https://www.freecodecamp.com/email-submit")
                label(for="email") Contact us
                input(type="email" id="email" name="email" placeholder="Enter your email" )
                input#submit(type="submit" value="send")




            .video-container
                iframe#video(width="560" height="315" src="https://www.youtube.com/embed/SJoJcrOrLqI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
            section.about#whyUs
                h2.about__title Why Us?
                .card-container
                    +article("Good prices")
                    +article("Durability")
                    +article("Shipping")
            section.products#products
                h2.products__title Our Products
                .product-container
                    +guitar("SG Guitar", "https://cdn.shopify.com/s/files/1/0814/7883/products/IMG_7264_d6817aed-ebfe-432a-8196-1aa256be822c.jpg?v=1571439647", "SG Guitar")
                    +guitar("Expectrum V", "https://dygtyjqp7pi0m.cloudfront.net/i/36160/33006706_1.jpg?v=8D6BAC74B329BD0", "Expectrum V")
                    +guitar("Strategy", "https://www.owl-guitars.de/Portals/0/Entity/118/Images/IMG-20180209-WA0009.jpg", "Strategy")

            section.artists#artists
                h2.artists__title Our artists
                .artists-container
                    +artist("Lorem ipsum", "http://mediad.publicbroadcasting.net/p/wjsp/files/styles/x_large/public/201706/Eric_Johnson_5416b.jpg")
                    +artist("Lorem ipsum", "https://www.rollingstone.com/wp-content/uploads/2018/06/rs-nick-valensi-6d9ff9b6-248a-4c7a-b310-9ee6b387fe7d.jpg")
                    +artist("Lorem ipsum", "https://www.nme.com/wp-content/uploads/2020/11/StephenCarpenter2000x1270.jpg")
                    +artist("Lorem ipsum", "https://www.mercurynews.com/wp-content/uploads/2019/09/SJM-L-MAIDEN6-0910.jpg?w=1024&h=769")
                    +artist("Lorem ipsum", "https://guitar.com/wp-content/uploads/2019/12/Chris-poland@1400x1050.jpg")
                    +artist("Lorem ipsum", "https://www.nadja.co/wp-content/uploads/2019/02/Featured-img-Orianthi_2017.jpg")

        script(src="./js/menu.js")
        script(src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js")
    

